.nav-bar {
    border-radius: 50px;
    margin-top: 10px;
    position: fixed;
    left: 50%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    transform: translateX(-50%);
    background-color: #343a40c9!important;
    font-family: CarryYou;
    z-index: 5;
    width: 150px;
    transition: width 0.5s;
}

.nav-front {
    color: white!important;
    font-size: 25px;
}

.nav-bar:hover {
    width: 40%;
}

.big-scroll {
    width: 100%;
    align-items: center;
    text-align: center;
}

.big-scroll * {
    width: 100%;
}